<div class="row">
  <div class="col-md-12 text-center">
    <h1>Which one is better?</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
	<div class="jumbotron" href="#">
	  <h2 class="text-center"><a href="#">Item <%= params[:item_id1] %></a></h2>
	  <br>
	  Harry Potter and the Order of the Phoenix is the fifth novel in the Harry Potter series, written by J. K. Rowling. It follows Harry Potter's struggles through his fifth year at Hogwarts School of Witchcraft and Wizardry, including the surreptitious return of the antagonist Lord Voldemort, O.W.L. exams, and an obstructive Ministry of Magic. The novel was published on 21 June 2003 by Bloomsbury in the United Kingdom, Scholastic in the United States, and Raincoast in Canada. 
	</div>
  </div>
  <div class="col-md-6">
	<div class="jumbotron">
	  <h2 class="text-center"><a href="#">Item <%= params[:item_id2] %></a></h2>
	  <br>
	  Harry Potter and the Order of the Phoenix is the fifth novel in the Harry Potter series, written by J. K. Rowling. It follows Harry Potter's struggles through his fifth year at Hogwarts School of Witchcraft and Wizardry, including the surreptitious return of the antagonist Lord Voldemort, O.W.L. exams, and an obstructive Ministry of Magic. The novel was published on 21 June 2003 by Bloomsbury in the United Kingdom, Scholastic in the United States, and Raincoast in Canada. 
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
  	<button class="btn btn-success btn-lg">&larr; This one!</button> 
  	<button class="btn btn-primary btn-lg">Not sure.</button> 
  	<button class="btn btn-success btn-lg">This one! &rarr;</button> 
  </div>
  <div class="col-md-3"></div>
</div>