<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <div class="jumbotron text-center">
      <h1>The Comparitor</h1>
	  <br>
	  <h3>Participate in <%= link_to "studies", studies_path %> to compare sets of items.</h4>
	  <h3>Create <%= link_to "your own studies", manage_study_path %> by uploading sets of items.</h4>
    </div>
  </div>
  
  <div class="col-md-2"></div>
</div>