<div class="row">
  <div class="col-md-12">
    <h1>Terms</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi odio turpis, ultrices quis augue at, efficitur rutrum nisl. Sed efficitur lobortis odio nec dignissim. Proin interdum ex sit amet facilisis tempor. Pellentesque vel lorem eu enim accumsan posuere in eget justo. Aliquam vehicula ullamcorper orci tincidunt tincidunt. In efficitur egestas ex, ut pulvinar massa. Mauris egestas, purus ac euismod rutrum, ipsum elit consectetur ante, rutrum elementum justo lacus sed massa. In hac habitasse platea dictumst. Integer eleifend fermentum nisl, in finibus tellus ultrices mollis.</p>

	<p>Aliquam facilisis euismod ex. Donec vel enim velit. Donec id commodo risus. Nunc lobortis sit amet mi et iaculis. Nulla dictum ornare suscipit. Nullam iaculis augue et ipsum rutrum, vel sagittis ex accumsan. Donec vehicula velit nibh, porttitor vulputate nisi dictum id. Donec nisi quam, ultrices sed nisi sit amet, euismod gravida tellus. In congue tellus scelerisque ultrices congue. In fermentum nulla eget dolor scelerisque, ut elementum quam luctus. Aliquam accumsan sapien purus, quis rutrum dolor varius sed. Proin sodales ipsum ex, ac vestibulum metus euismod eu. Integer imperdiet tempus magna, id tristique elit sagittis sed. Suspendisse nec sodales neque, vitae finibus est. Curabitur accumsan, elit non posuere dignissim, ipsum arcu finibus elit, sit amet tincidunt dolor metus id metus. Suspendisse ultricies consequat mi nec laoreet.</p>

	<p>Ut in faucibus mi. Cras rhoncus laoreet finibus. Suspendisse sit amet lacinia ligula. Nunc feugiat luctus porttitor. Aliquam erat volutpat. Fusce semper egestas feugiat. Fusce quis purus velit.</p>

	<p>Praesent nec consectetur eros, non ultrices est. Phasellus ut justo consectetur, ornare orci ac, congue nibh. Nulla facilisi. Vestibulum turpis arcu, eleifend ut vehicula sed, convallis sit amet sapien. Mauris placerat nibh tellus, in condimentum metus aliquam in. Sed ac dui vehicula, pharetra diam et, vehicula eros. Nullam ullamcorper enim et enim pulvinar pulvinar. Aenean eget mi risus. Curabitur gravida, neque ut iaculis interdum, purus libero consectetur metus, nec rutrum nisi ligula non nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

	<p>Proin aliquam malesuada porta. Morbi quis blandit turpis, sit amet cursus enim. Mauris quis dui tellus. Donec ut massa vel sem porttitor eleifend at a neque. Morbi ut sem id neque eleifend venenatis a non est. Suspendisse dignissim tincidunt tellus non aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer gravida molestie massa ut commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin in porttitor tortor. Integer nec lorem velit.</p>
  </div>
</div>