<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <div class="jumbotron">
      <h1 class="text-center">The Comparitor</h1>
	  <br>
	  <%= form_tag email_user_path, method: "get" do %>
	    <h5>Please create a new account.</h5>
	    <br>
  	    <div class="input-group input-group-md">
  	      <span class="input-group-addon">email</span>
  	      <input name="user_email" type="text" class="form-control" value="<%= @email %>">
	    </div>
  	    <br>
  	    <div class="input-group input-group-md">
  	      <span class="input-group-addon">first name</span>
  	      <input name="user_name" type="text" class="form-control" placeholder="First">
	    </div>
		<br>
		<h5><%= link_to "Click here to read the terms of The Comparitor (opens in a new tab).", terms_path, {target: "_blank"} %></h5>
		<br>
		<div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg">I agree to the terms. Create account!</button>
		</div>
	  <% end %>
    </div>
  </div>
  
  <div class="col-md-2"></div>
</div>