<div class="row">
  <div class="col-md-12">
    <h1>My Account</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <%= form_tag modify_user_path, method: "get" do %>
	  <div class="input-group input-group-lg">
	    <span class="input-group-addon">email</span>
	    <input name="user_email" type="text" class="form-control" value=<%= session[:user_email] %>>
      </div>
	  <br>
      <button class="btn btn-primary btn-lg">update account information</button>
    <% end %>
  </div>
</div>