<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <div class="jumbotron text-center">
      <h1>The Comparitor</h1>
	  <br>
	  <h4>An email has been sent to <%= @email %> with a link to log in.</h4>
	  <br>
	  <%= form_tag users_path, method: "get" do %>
        <button type="submit" class="btn btn-primary btn-lg">go back</button>
	  <% end %>
    </div>
  </div>
  
  <div class="col-md-2"></div>
</div>