<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <div class="jumbotron text-center">
      <h1>The Comparitor</h1>
	  <br>
	  <%= form_tag login_user_path, method: "get" do %>
  	    <div class="input-group input-group-lg">
  	      <span class="input-group-addon">email</span>
  	      <input name="user_email" type="text" class="form-control" placeholder="email@example.com">
	    </div>
  	    <br>
        <button class="btn btn-primary btn-lg">log in or create account</button>
	  <% end %>
    </div>
  </div>
  
  <div class="col-md-2"></div>
</div>