<div class="row">
  <div class="col-md-12">
    <h1>Studies</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
  	  <table class="table">
  		<tr>
  	      <th>Study</th>
		  <th>Options</th>
  		</tr>
  	    <% @studies.each do |study| %>
		  <% if study.active == true %>
  	        <tr>
  			  <td class="col-md-3"><%= link_to study.name, show_study_path(study.id) %></td>
			  <td class="col-md-9">
  			    <div class="btn-group">
				  <%= link_to raw("<button type=\"button\" class=\"btn btn-sm btn-primary dropdown-toggle\">start comparing</button>"), assign_comparison_path(study.id) %>
                </div>
			  </td>
  		    </tr>
		  <% end %>
  	    <% end %>
  	  </table>
    </div>
  </div>
</div>