<div style="background-color: #eeeeee; border-radius: 6px; padding-top: 36px; padding-bottom: 36px; padding-left: 60px; padding-right: 60px; width: 66.66666667%; margin: auto;">
  <h1 style="text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: #434343;">The Comparitor</h1>
  <h5 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: #226A9D;">Welcome to The Comparitor!</h4>
  <h5 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: #226A9D;">Please follow this link to log in: <%= @url %></h4>
</div>