<div class="row">
  <div class="col-md-12">
  	<h1>Keyboard Shortcuts</h1>
	<br>
	<p>To use these keyboard shortcuts while comparing items, you may need to modify them with some combination of Ctrl, Alt, Opt, and Shift. Find out which modifiers you need to use in your browser <a href="http://en.wikipedia.org/wiki/Access_key#Access_in_different_browsers" target="_blank">on Wikipedia (opens in a new tab)</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<h3>Common Browsers</h3>
	<br>
	<div class="panel panel-default">
	  <table class="table">
	  	<tr>
	  	  <th>Browser</th>
		  <th>Modifier</th>
	  	</tr>
		<tr>
		  <td>Chrome (Windows/Linux)</td>
		  <td>Alt</td>
		</tr>
		<tr>
		  <td>Chrome (Mac)</td>
		  <td>Ctrl+Opt</td>
		</tr>
		<tr>
		  <td>Firefox (Windows/Linux)</td>
		  <td>Alt+Shift</td>
		</tr>
		<tr>
		  <td>Firefox (Mac)</td>
		  <td>Ctrl+Opt</td>
		</tr>
		<tr>
		  <td>Internet Explorer</td>
		  <td>Alt</td>
		</tr>
		<tr>
		  <td>Opera (Windows/Linux)</td>
		  <td>Alt</td>
		</tr>
		<tr>
		  <td>Opera (Mac)</td>
		  <td>Ctrl+Opt</td>
		</tr>
		<tr>
		  <td>Safari (Windows)</td>
		  <td>Alt</td>
		</tr>
		<tr>
		  <td>Safari (Mac)</td>
		  <td>Ctrl+Opt</td>
		</tr>
	  </table>
	</div>
  </div>
  <div class="col-md-4">
	<h3>Two-Way Comparisons</h3>
	<br>
	<div class="panel panel-default">
	  <table class="table">
	  	<tr>
	  	  <th>Key</th>
		  <th>Action</th>
	  	</tr>
		<tr>
		  <td>1</td>
		  <td>Rank the first item above the second item.</td>
		</tr>
		<tr>
		  <td>2</td>
		  <td>Rank the second item above the first item.</td>
		</tr>
		<tr>
		  <td>N</td>
		  <td>Rank neither item above the other.</td>
		</tr>
		<tr>
		  <td>U</td>
		  <td>Undo previous comparison.</td>
		</tr>
	  </table>
	</div>
  </div>
  <div class="col-md-4">
	<h3>Three-Way Comparisons</h3>
	<br>
	<div class="panel panel-default">
	  <table class="table">
	  	<tr>
	  	  <th>Key</th>
		  <th>Action</th>
	  	</tr>
		<tr>
		  <td>1</td>
		  <td>Rank the first item.</td>
		</tr>
		<tr>
		  <td>2</td>
		  <td>Rank the second item.</td>
		</tr>
		<tr>
		  <td>3</td>
		  <td>Rank the third item.</td>
		</tr>
		<tr>
		  <td>Q</td>
		  <td>Tie the first item with most recently ranked item.</td>
		</tr>
		<tr>
		  <td>W</td>
		  <td>Tie the second item with most recently ranked item.</td>
		</tr>
		<tr>
		  <td>E</td>
		  <td>Tie the third item with most recently ranked item.</td>
		</tr>
		<tr>
		  <td>R</td>
		  <td>Reset current comparison.</td>
		</tr>
		<tr>
		  <td>S</td>
		  <td>Submit current comparison.</td>
		</tr>
		<tr>
		  <td>U</td>
		  <td>Undo previous comparison.</td>
		</tr>
	  </table>
	</div>
  </div>
</div>