<div class="row">
  <div class="col-md-12">
    <h1>Categories</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
  	  <table class="table">
  		<tr>
  	      <th>Category</th>
  		  <th>2-Way Comparison</th>
  		</tr>
  	    <% @categories.each do |category| %>
  	      <tr>
  			<td class="col-md-3"><%= link_to category.name, show_category_path(category) %></td>
  			<td><%= link_to "Start comparing!", assign_comparison_path(category) %></td>
  		  </tr>
  	    <% end %>
  	  </table>
    </div>
  </div>
</div>