<div class="row">
  <div class="col-md-12">
    <h1>Categories</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
	<ul class="list-group">
	  <% @categories.each do |category| %>
	    <li class="list-group-item"><%= link_to category.name, show_category_path(category) %></li>
	  <% end %>
	</ul>
  </div>
</div>