<div class="row">
  <div class="col-md-12">
    <h1><%= link_to "Categories:", categories_path %> <%= @category %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
	<div class="panel panel-default">
	  <table class="table">
		<tr>
	      <th>Name</th>
		  <th>Description</th>
		</tr>
	    <% @items.each do |item| %>
	      <tr>
			<td><%= item.name %></td>
			<td><%= item.description %></td>
		  </tr>
	    <% end %>
	  </table>
    </div>
  </div>
</div>