<div class="row">
  <div class="col-md-12">
    <h1>Category: <%= @category %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<% @items.each do |item| %>
	  <h5><%= item.name %></h5>
	<% end %>
  </div>
</div>