<div class="row">
  <div class="col-md-12">
    <h1>The Comparitor Experiment</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
	  <p>The purpose of The Comparitor is to facilitate studies of item comparison behavior, e.g., is kale a better vegetable than broccoli? These studies will be used to understand the mathematics and patterns in how people compare items, and they will guide important developments in anomaly detection in website behavior (with applications to websites such as Twitter, Facebook, and Yelp).</p>
	  
	  <p>In order to participate in The Comparitor, you must be at least 18 years old, you must not be in prison, and you must not be involved in a court-ordered program or a community corrections program.</p>
	  
	  <p>We record each comparison you make and the time you make it. We reserve the right to record additional data about your interaction with the website, including time spent on each page, mouse activity, or any other standard metrics that can be requested from your Internet browser.</p>
	  
	  <p>The author of a study can download a list of all comparisons and corresponding times made in the study. This data download mechanism provides no capability to identify subjects beyond using an anonymous identifier. There are known techniques that are often effective at deanonymizing data. We cannot protect you against these techniques, but we will do our best to make it difficult to apply them.</p>
  </div>
</div>